.sidebar {
    position: fixed;
    width: $sidebar-width-default;
    min-height: 100vh;
    background: $sidebar-background;
    transition: 0.2s all ease-in-out;
    z-index: 2;
    & > ul {
        & > li {
            list-style-type: none;
            padding: 10px 15px;
            
            & > a > .logo{
                background-image: url("../images/logo-transparent-2.png");
                width: 54px;
                height: 54px;
                vertical-align: middle;
                margin: -10px -5px !important;
                
                float: left;

            }
            & > .logo-name {
                float: left;
                padding-top: 5px;
            }
            &.separator{
                padding: 20px 15px;
            }
            & > a {
                color: white;
                & > span, & > .title {
                    display: none;
                }
            }
        }
    }

    &:hover {
        width: $sidebar-width;
        overflow: scroll;
        & > ul {
            & > li {
                & > a {
                    color: white;
                    & > span, & > .title {
                        display: initial;
                    }
                }
            }
        }
    
    }
}